.post-container{
    background-color: #ffe8a1;
    position: relative;
    overflow: hidden;
    padding: 20px;
    display: block;
    margin: 20px 40px 10px 40px;
 }

 .button, input[type="submit"]{
    display: inline-block;
    padding: 8px 20px;
    background-color: #BCD42A;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
 }

 .button:hover, .button:focus, .button:active,
  input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active{
    background-color: #4bb1b1;
 }
